.registration-page {
  max-width: 350px;
  margin: 50px auto 0 auto;
  background-color: #153650;;

}

.registration-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.registration-header {
  margin-left: -17px
}

.registration-form-field {
  width: 100%;
  display: flex;
}
