<br/><h1>Review Details</h1>
<h3>Flight Details:</h3>
Airline: {{reservation.flight.operatingAirlines}}
Flight N°:{{reservation.flight.flightNumber}}<br/>
Departure City:{{reservation.flight.departureCity}}<br/>
Arrival City:{{reservation.flight.arrivalCity}}<br/>
Date of Departure:{{reservation.flight.dateOfDeparture}}<br/>
Estimate Departure Time:{{reservation.flight.estimatedDepartureTime}}<br/>
<br/><h3>Passenger Details:</h3>
First Name:{{reservation.passenger.firstName}}<br/>
Last Name:{{reservation.passenger.lastName}}<br/>
Email:{{reservation.passenger.email}}<br/>
Phone:{{reservation.passenger.phone}}<br/>
